.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    background-color: #ffffff;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
}

.clients-list_icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-list_link:hover &,
  .clients-list_link:focus & {
    fill: var(--accent-color);
  }
}
.clients-list_link > .clients-list_icons {
  height: 50%;
  width: 50%;
}
.clients-list_item:not(:last-child) {
  margin-right: 30px;
}
