.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
// .foot {
//   align-items: baseline;
//   justify-content: space-between;
// }

.bottom-address {
  margin-top: 20px;
}
// .footer-list .item + .item {
//   margin-top: 9px;
// }

.logo.inverse {
  color: white;
  width: 145px;
}
.footer-address {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
// .adress-item {
//   margin-right: 70px;
// }
.soc-list_list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.foot-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}
.soc-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.soc-list_icons {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.soc-list_item:not(:last-child) {
  margin-right: 10px;
}

// .footer-form {
//   margin-left: 93px;
// }
// .form {
//   display: flex;
// }
.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2f303a;
  border-radius: 4px;
  outline: none;
  &:focus {
    border-color: var(--accent-color);
  }
}

.foot-btn {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  transition: color 250ms var(--timing-function);
}
.footer-form-icon {
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .foot {
    text-align: center;
  }
  .adress-item {
    margin-bottom: 60px;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .soc-list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-set {
    display: flex;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
  .footer-set {
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
  }
  .adress-item {
    text-align: center;
    margin-right: 165px;
  }
  .soc-list {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .foot {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-set {
    align-items: baseline;
  }
  .adress-item {
    margin-right: 70px;
  }
  .soc-list {
    margin-right: 93px;
  }
  .form {
    display: flex;
  }
  .footer-input {
    margin-right: 12px;
  }
}
