.navigation {
  display: flex;
  align-items: center;

  &-list .link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: color 250ms var(--timing-function);
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.navigation-list .link.current::after {
  opacity: 1;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.top-address-link {
  align-items: center;
  display: inline-flex;
  font-style: normal;
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.adress-icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
  .navigation {
    justify-content: space-between;
    &-list {
      margin-bottom: 60px;
    }
  }
  .link {
    color: #212121;
    padding: 8px 0;
    transition: color 250ms var(--timing-function);
  }
  .header {
    position: relative;
    padding: 10px 0;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .item:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation-list .link.current {
    position: relative;
    display: inline-block;
  }
  .top-address-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-address-link {
    font-size: 12px;
    line-height: 1.171;
  }
  .navigation-list {
    margin-left: 88px;
  }
  .top-address {
    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .navigation-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    transition: color 250ms var(--timing-function);

    &.current {
      color: var(--accent-color);
    }
  }

  .item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    display: flex;
    margin-left: 93px;
  }
  .top-address {
    margin-left: 305px;
    &-list {
      display: flex;
    }
  }
  .top-address-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .top-address-list .item + .item {
    margin-left: 30px;
  }
}
// .navigation {
//   display: flex;
//   align-items: center;

//   &-list {
//     display: flex;
//     margin-left: 93px;

//     & .link::after {
//       content: "";
//       display: block;
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       width: 100%;
//       height: 4px;

//       opacity: 0;
//       transition: color 250ms var(--timing-function);
//       background-color: #2196f3;
//       border-radius: 2px;
//     }
//   }
// }

// .top-address {
//   margin-left: auto;
//   &-list {
//     display: flex;
//     margin-left: auto;
//   }
// }
// .top-address-list .item + .item {
//   margin-left: 50px;
// }

// .navigation-list .link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   color: #212121;
//   transition: color 250ms var(--timing-function);

//   &.current {
//     color: var(--accent-color);
//   }
// }
// .navigation-list-item {
//   position: relative;

//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .navigation-list .link.current::after {
//   opacity: 1;
// }
// .top-address-link {
//   display: inline-flex;
//   align-items: center;
//   font-style: normal;
//   color: #757575;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   transition: color 250ms var(--timing-function);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }
// .adress-icon {
//   fill: currentColor;
//   margin-right: 10px;
// }
// .link:hover,
// .link:focus {
//   color: var(--accent-color);
// }
// .header {
//   border-bottom: 1px solid #ececec;
// }
