.portfolio {
    box-sizing: border-box;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .auto-nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .address {
    margin-left: auto;
  }
  